---
---
<h2 class="myh2">About Me</h2>
<p>  <!-- <a  href="http://persist.cs.clemson.edu/"  target="_blank">
	PERSIST Research Laboratory </a> under <a href="https://people.cs.clemson.edu/~jsorber/"  target="_blank">Dr. Jacob Sorber</a>. -->
`</p>

  <h2 class="myh2">Career Interests</h2>
  </p>

  <h2 class="myh2">Education</h2>
  
  
  <h2 class="myh2">News</h2>
  
 <!-- <h2 class="myh2">Recent Projects</h2>
  <div class="container-fluid" id="myfluid">
    <div class="row">

      <div class="col-md-6" id="box">
        <div class="portfolio-details">
            <h4>Python 2.7.x Interpreter</h4>
            <img src="/assets/img/interpreter.png" alt="Python Interpreter">
            <p>
              In this project, I implemented an interpreter for python 2.7.x using flex (scanner) and bison (parser).
              The interpreter was written in C/C++ and is capable of interpreting most of Python 2.7.x language constructs.
            </p>
            <p class="portfolio-links">
		            <a href="https://github.com/simeonbabatunde/python2-interpreter" target="_blank">
	                <i class="fa fa-github"></i>&nbsp;&nbsp;Code </a>
					 	</p>
        </div>
      </div>

      <div class="col-md-6" id="box">
        <div class="portfolio-details">
		        <h4>UV Risk Detection/Prevention</h4>
		        <img src="/assets/img/uv.jpeg" alt="UV Detection">
		        <p>
		            This system is a set of wearable devices that inform the user about UV exposure rate. One device
                senses UV radiation and the other displays the UV radiation levels. The display device shows the UV index.
		        </p>
            <p class="portfolio-links">
		            <a href="https://github.com/simeonbabatunde/uv_risk_detection_and_prevention"  target="_blank">
	                <i class="fa fa-github"></i>&nbsp;&nbsp;Code </a>
					 	</p>
				</div>
      </div>

    </div>
  </div>

  <div class="home-read-more">
    <a href="{{ "/projects" | prepend:site.baseurl }}" class="btn btn-primary btn-block btn-lg">View All Projects →</a>
  </div> -->

<!-- {% for post in site.posts limit:site.data.theme.num_home_posts %}
<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h1>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="text-right"><a href="{{ post.url | prepend:site.baseurl }}">Continue Reading &rarr;</a></p>
</div>
{% endfor %} -->
<!-- <hr>
<div class="home-read-more">
  <a href="{{ "/archive" | prepend:site.baseurl }}" class="btn btn-primary btn-block btn-lg">View All {{ site.posts | size }} Projects →</a>
</div> -->
